/* Users Table Formatting */
form.formStyle {
    width: 100%;
    background-color: #000000;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    color: #f77b00;
  }
  
  form.formStyle td, .form.formStyle th {
    border-width: 2px;
    border-color: #f77b00;
    border-style: solid;
    padding: 3px;
  }
  
  form.formStyle thead {
    background-color: #242322;
  }

.container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.users {
  color: #f77b00;
  margin: auto;
}

.item {
    width: 10em;
}

/* Users table formatting */

table.GeneratedTable {
  width: 100%;
  background-color: #000000;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #f77b00;
  border-style: solid;
  color: #ffffff;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #f77b00;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #f77b00;
}

/* Hikes Fieldset &  Legend formatting */

fieldset.hikes{
  background-color: #212020;
  border: 1px solid #8c1f1f;
  color: #fefcfc;
  width: auto;
  margin:auto;
}

fieldset.hikes legend{
  background-color: #212020;
  color: #8c1f1f;
}

/* Trails Form style formatting */

form.trails {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 3px;
  border-color: #1c6d1c;
  border-style: solid;
  color: #fefcfc;
}

form.trails td, form.trails th {
  border-width: 3px;
  border-color: #1c6d1c;
  border-style: solid;
  padding: 3px;
}

form.trails thead {
  background-color: #1c6d1c;
  color: #040404;
}

/* Trails Table formatting */

table.local {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  color: #fefcfc;
}

table.local td, table.local th {
  border-width: 2px;
  border-color: #1c6d1c;
  border-style: solid;
  padding: 3px;
}

table.local thead {
  background-color: #1c6d1c;
  color: #040404;
}

/* Packing list form formatting */

form.packingList {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 3px;
  border-color: #005e70;
  border-style: solid;
  color: #fefcfc;
}

form.packingList td, form.packingList th {
  border-width: 3px;
  border-color: #005e70;
  border-style: solid;
  padding: 3px;
}

form.packingList thead {
  background-color: #005e70;
  color: #040404;
}

label.packingList {
  color: #005e70;
}

table.packingList {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #005e70;
  border-style: solid;
  color: #fefcfc;
}

table.packingList td, table.packingList th {
  border-width: 2px;
  border-color: #005e70;
  border-style: solid;
  padding: 3px;
}

table.packingList thead {
  background-color: #005e70;
  color: #040404;
}

/* Trail Types form and label Formatting */
form.trailType {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 3px;
  border-color: #0bcb9e;
  border-style: solid;
  color: #fefcfc;
}

form.trailType td, form.trailType th {
  border-width: 3px;
  border-color: #0bcb9e;
  border-style: solid;
  padding: 3px;
}

form.trailType thead {
  background-color: #0bcb9e;
  color: #040404;
}

label.trailType {
  color: #0bcb9e;
}

table.trailType {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #0bcb9e;
  border-style: solid;
  color: #fefcfc;
}

table.trailType td, table.trailType th {
  border-width: 2px;
  border-color: #0bcb9e;
  border-style: solid;
  padding: 3px;
}

table.trailType thead {
  background-color: #0bcb9e;
  color: #040404;
}

/* Packing List Details form and label Formatting */
form.packingListDetails {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 3px;
  border-color: #762aa1;
  border-style: solid;
  color: #fefcfc;
}

form.packingListDetails td, form.packingListDetailsth {
  border-width: 3px;
  border-color: #762aa1;
  border-style: solid;
  padding: 3px;
}

form.packingListDetails thead {
  background-color: #762aa1;
  color: #040404;
}

label.packingListDetails {
  color: #762aa1;
}

table.packingListDetails {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #762aa1;
  border-style: solid;
  color: #fefcfc;
}

table.packingListDetails td, table.packingListDetails th {
  border-width: 2px;
  border-color: #762aa1;
  border-style: solid;
  padding: 3px;
}

table.packingListDetails thead {
  background-color: #762aa1;
  color: #ffffff;
}

/* Inventory Items form and label Formatting */
form.inventoryItems {
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 3px;
  border-color: #19245a;
  border-style: solid;
  color: #fefcfc;
}

form.inventoryItems td, form.inventoryItems th {
  border-width: 3px;
  border-color: #19245a;
  border-style: solid;
  padding: 3px;
}

form.inventoryItems thead {
  background-color: #19245a;
  color: #040404;
}

label.inventoryItems {
  color: #19245a;
}

table.inventoryItems{
  width: 100%;
  background-color: #212020;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #19245a;
  border-style: solid;
  color: #fefcfc;
}

table.inventoryItems td, table.inventoryItems th {
  border-width: 2px;
  border-color: #19245a;
  border-style: solid;
  padding: 3px;
}

table.inventoryItems thead {
  background-color: #19245a;
  color: #ffffff;
}

