<!-- index.hbs -->
{{!-- <h1>This will be the Home Page!</h1>
<p>Here will be links to other pages</p> --}}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hiking Buddy</title> 
        <!-- <link href="./style.css" rel="stylesheet" type="text/css" /> -->
    </head>

    <body class="index">
        <h1><b><u>Hiking Buddy</u></b></h1>
        <h4><i>Providing information on trails, packing lists based on activity and location, and user stats for tracking total miles hiked.</i></h4>
        <img src="../public/img/logo.png" alt="Our Logo" width="1100" height="800">
        <br>
        <br>
        <a href="users">Users</a>|
        <a href="trails">Trails</a> | 
        <a href="trail_types">Trail Types</a> | 
        <a href="inventory_items">Inventory Items</a><br>
        <a href="packing_lists">Packing Lists</a> | 
        <a href="packing_list_details">Packing List Details</a> | 
        <a href="hikes">Completed Hikes</a>&nbsp;<br>
        <p></p>
    </body>

</html>

